In [5]:
import pandas
import pandasql

def aggregate_query(filename):
    # Read in our aadhaar_data csv to a pandas dataframe.  Afterwards, we rename the columns
    # by replacing spaces with underscores and setting all characters to lowercase, so the
    # column names more closely resemble columns names one might find in a table.
    
    aadhaar_data = pandas.read_csv(filename)
    aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace=True)

    # Write a query that will select from the aadhaar_data table how many men and how 
    # many women over the age of 50 have had aadhaar generated for them in each district.
    # aadhaar_generated is a column in the Aadhaar Data that denotes the number who have had
    # aadhaar generated in each row of the table.
    #
    # Note that in this quiz, the SQL query keywords are case sensitive. 
    # For example, if you want to do a sum make sure you type 'sum' rather than 'SUM'.
    #

    # The possible columns to select from aadhaar data are:
    #     1) registrar
    #     2) enrolment_agency
    #     3) state
    #     4) district
    #     5) sub_district
    #     6) pin_code
    #     7) gender
    #     8) age
    #     9) aadhaar_generated
    #     10) enrolment_rejected
    #     11) residents_providing_email,
    #     12) residents_providing_mobile_number
    #
    # You can download a copy of the aadhaar data that we are passing 
    # into this exercise below:
    # https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/aadhaar_data.csv
        
    q = '''SELECT gender, district, count(age) 
        FROM aadhaar_data
        WHERE age > 50
        GROUP BY gender, district'''

    # Execute your SQL command against the pandas frame
    aadhaar_solution = pandasql.sqldf(q.lower(), locals())
    return aadhaar_solution

In [6]:
print (aggregate_query('aadhaar-data.csv'))

    gender           district  count(age)
0        F         Ahmadnagar          46
1        F        Ahmed Nagar          12
2        F          Ahmedabad           1
3        F              Ajmer          27
4        F              Akola           5
5        F          Alirajpur          54
6        F          Allahabad          13
7        F              Alwar          18
8        F             Ambala           8
9        F           Amravati           1
10       F           Amritsar          31
11       F            Anuppur          78
12       F        Ashok Nagar           1
13       F         Aurangabad          21
14       F           Balaghat         143
15       F          Bangalore         371
16       F    Bangalore Rural           8
17       F              Banka           1
18       F           Banswara          25
19       F              Baran           6
20       F            Barwani          26
21       F           Bathinda          39
22       F               Beed          32
23       F            Belgaum          57
24       F            Bellary          58
25       F              Betul          38
26       F          Bhagalpur           1
27       F           Bhandara           4
28       F          Bharatpur          92
29       F           Bhilwara          42
..     ...                ...         ...
498      M              Sirsa         105
499      M            Solapur          41
500      M          Sonbhadra           7
501      M            Sonipat          13
502      M        South Delhi           7
503      M      South Tripura           1
504      M   South West Delhi           6
505      M  Sri Muktsar Sahib          18
506      M         Tarn Taran         103
507      M              Thane         149
508      M          Tikamgarh         150
509      M     Tiruvannamalai           1
510      M               Tonk          41
511      M             Tumkur           1
512      M            Udaipur          13
513      M             Ujjain          64
514      M             Umaria          99
515      M                Una           4
516      M             Valsad           2
517      M            Vellore           1
518      M            Vidisha          66
519      M         Viluppuram          17
520      M             Wardha           1
521      M             Washim          30
522      M         West Delhi           7
523      M     West Singhbhum         181
524      M       West Tripura          21
525      M             Yadgir          10
526      M       Yamuna Nagar         111
527      M           Yavatmal          57

[528 rows x 3 columns]